/*
This code is based on a snippet from Corey Schafer, as linked to in his Django 2 video series.
Playlist: https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p
Code: https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/snippets/main.css
*/

body {
  background: #024096;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #050220;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.site-header {
  background-color: #050220;
  border-bottom: 1px solid white;
}

.content-section {
  background: #050220;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

img.fractal {
  border: 1px solid white;
}

.navbar-dark .navbar-brand {
  color: #ff9800;
    font-size: 2vw;
}

.site-header .navbar-nav .nav-link {
    color: #f1bf32;
    font-size: 1.5vw;
}

.main-container {
  padding-top: 2vh;
}

