/*
This code is based on a snippet from Corey Schafer, as linked to in his Django 2 video series.
Playlist: https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p
Code: https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/snippets/main.css
*/

body {
    --dark-blue: #050220;
    --text-yellow: #f1bf32;
    --text-orange: #ff9800;
    --light-blue: #024096;
    --hover-colour: #ff1b3a;
    --narrow-border-colour: #ffffff;
    background: var(--light-blue);
    color: var(--text-yellow);
    margin-top: 5rem;
  
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-yellow);
}

ul {
    margin: 0;
}

.bg-dark {
    background-color: var(--dark-blue) !important;
}

.site-header .navbar-nav .nav-link {
    color: var(--text-yellow);
    font-size: 1.5vw;
}

.site-header .navbar-nav .nav-link:hover {
    color: var(--hover-colour);
    font-size: 1.6vw;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.site-header {
    background-color: var(--dark-blue) !important;
    border-bottom: 1px solid white;
}

.content-section {
    background: var(--dark-blue);
    padding: 10px 20px;
    border: 1px solid var(--narrow-border-colour);
    border-radius: 3px;
    margin-bottom: 20px;
}

img.fractal {
    border: 1px solid var(--narrow-border-colour);
}

.navbar-dark .navbar-brand {
    color: var(--text-orange);
    font-size: 2vw;
}

.navbar-dark .navbar-brand:hover {
    color: var(--hover-colour);
    font-size: 2.1vw;
}

.main-container {
    padding-top: 2vh;
}

