/*
This code was originally based on a snippet from Corey Schafer, as linked to in his Django 2 video series.
I have since augmented it and altered it substantially.
Playlist: https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p
Code: https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/snippets/main.css
*/

body {
    --dark-blue: #050220;
    --text-yellow: #f1bf32;
    --text-orange: #ff9800;
    --light-blue: #024096;
    --hover-colour: #ff1b3a;
    --narrow-border-colour: #ffffff;
    --bg-very-dark: #000008;
    background: var(--light-blue);
    color: var(--text-yellow);
    margin-top: 5rem;
  
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-yellow);
}

ul {
    margin: 0;
}

.bg-dark {
    background-color: var(--dark-blue) !important;
}

.site-header .navbar-nav .nav-link {
    color: var(--text-yellow);
    font-size: 1.5vw;
}

.site-header .navbar-nav .nav-link:hover {
    color: var(--hover-colour);
    transform: scale(1.04);
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.site-header {
    background-color: var(--dark-blue) !important;
}

.content-section {
    background: var(--dark-blue);
    padding: 5px 21px;
    border-radius: 3px;
    margin-bottom: 20px;
}

img.fractal {
    border: 1px solid var(--narrow-border-colour);
    transition: transform 0.5s ease-in-out, border-radius 2s ease-out;
    border-radius: 3px;
    z-index: 128;
}

img.fractal:hover {
    transform: scale(1.25);
    border-radius: 30px;
    z-index: 128;
}

.card {
    background-color: var(--bg-very-dark);
}
.card-img-top {
    border: 1px solid var(--narrow-border-colour);
}
.card-body {
    background-color: var(--bg-very-dark);
    margin-top: 0.6vh;
    border: 1px solid var(--narrow-border-colour);
}

nav {
    border-bottom: 1px solid var(--narrow-border-colour);
}

.navbar-dark .navbar-brand {
    color: var(--text-orange);
    font-size: 2vw;
}

.navbar-dark .navbar-brand:hover {
    color: var(--hover-colour);
    transform: scale(1.04);
}

.main-container {
    padding-top: 2vh;
}

.btn, .btn-info, .btn-primary {
  border: 1px solid var(--dark-blue) !important;
  border-radius: 50%;
}

.fa_custom {
  color: var(--hover-colour);
}

.heart {
  margin-top: -25px;
  margin-right: -25px;
}

footer {
    background-color: var(--dark-blue);
    border-top: 1px solid var(--narrow-border-colour);
    margin-bottom: -30px;
}

/* Font Awesome styling for social icons in footer */
/* Copied, updated and adapted from my website www.teraspora.net, my CI Milestone 1 project */
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 1vh;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    margin-right: 2vw;
}
/* Below omitted temporarily as not working - need to be set on block or inline-block element I think... */
/*.social-icons li:hover {
    transform: scale(1.1);
}
*/

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fab, .ts-icon {
    display: inline;
    padding: 2px 2px;
    background-color: var(--bg-col);
}
.fab-twitter:hover {
    background-color: #00B6F1;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fab-github:hover {
    color: #9840d9;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fab-linkedin:hover {
    background-color: #04669A;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.icon-st:hover {
    background-color: #f321b7;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.icon-st img {
    height: 2vw;
    max-width: 100%;    
}
