/* static/css/style.css */

/*
This code was originally based on a snippet from Corey Schafer, as linked to in his Django 2 video series.
I have since augmented it and altered it substantially.
Playlist: https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p
Code: https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/snippets/main.css
*/


/* General rules */

body {
    --dark-blue: #050220;
    --text-yellow: #f1bf32;
    --text-orange: #ff7400;
    --light-blue: #024096;
    --pale-blue: #66a3ff;
    --hover-colour: #ff1b3a;
    --narrow-border-colour: #ffffff;
    --bg-very-dark: #000008;
    background: var(--light-blue);
    color: var(--text-yellow);
    margin-top: 5rem;
   
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-yellow);
}

ul {
    margin: 0;
}

.bg-dark {
    background-color: var(--dark-blue) !important;
}

/* Site Header, containing nav bar */

.site-header .navbar-nav .nav-link {
    color: var(--text-yellow);
    font-size: 3.4vw;
}

.site-header .navbar-nav .nav-link:hover {
    color: var(--hover-colour);
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.site-header {
    background-color: var(--dark-blue) !important;
}

nav {
    border-bottom: 1px solid var(--narrow-border-colour);
}

.navbar-dark .navbar-brand {
    color: var(--text-orange);
    font-size: 4vmax;
}
/* Following font sizes too small for mobile */
@media only screen and (min-width: 769px) {
  .site-header .navbar-nav .nav-link {
    font-size: 1.4vw;
  }
  .nav-item.nav-link {
    font-size: 2vw;
  }
  .navbar-dark .navbar-brand {
    color: var(--text-orange);
    font-size: 3vw;
  }
}

.navbar-dark .navbar-brand:hover {
    color: var(--hover-colour);
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
}

/* Main content */

.content-section {
    background: var(--dark-blue);
    padding: 5px 21px;
    border-radius: 3px;
    margin-bottom: 3vh;
    padding-top: 3vh;
}

img.fractal {
    border: 1px solid var(--narrow-border-colour);
    -webkit-transition: border-radius 2s ease-out, -webkit-transform 0.5s ease-in-out;
    transition: border-radius 2s ease-out, -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out, border-radius 2s ease-out;
    transition: transform 0.5s ease-in-out, border-radius 2s ease-out;
    transition: transform 0.5s ease-in-out, border-radius 2s ease-out, -webkit-transform 0.5s ease-in-out;
    border-radius: 3px;
    z-index: 128;
}

img.fractal:hover {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
    border-radius: 30px;
    z-index: 128;
}

.thumbnail {
    position: relative;
    margin-bottom: 28px;
}

.caption {
    position: absolute;
    right: 10px;
    width: 100%;
    text-align: center;
}

.card {
    background-color: var(--bg-very-dark);
}

.card-img-top {
    border: 1px solid var(--narrow-border-colour);
}

.card-body {
    background-color: var(--bg-very-dark);
    margin-top: 0.6vh;
    border: 1px solid var(--narrow-border-colour);
}

.card-text {
    text-align: center;
    border-radius: 3px;
}

.card-body.about-body {
    border-radius: 32px;
}

.card-body.about-body > h3 {
    color: var(--text-orange)
}

.about-card {
    background-color: var(--dark-blue);
}


.main-container {
    padding-top: 2vh;
}

.btn, .btn-info, .btn-primary {
  border: 1px solid var(--dark-blue) !important;
  border-radius: 50%;
}

.ts-small-btn {
    background-color: var(--dark-blue);
    color: var(--text-orange);
}

main {
    min-height: calc(100vh - 72px);
}

/* Footer */

footer {
    min-height: 72px;
    background-color: var(--dark-blue);
    border-top: 1px solid var(--narrow-border-colour);
    margin-bottom: -30px;
}

/* Font Awesome styling for social icons in footer */
/* Copied, updated and adapted from my website www.teraspora.net, my CI Milestone 1 project */

.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 1vh;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    margin-right: 2vw;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fab, .ts-icon {
    display: inline;
    padding: 2px 2px;
    background-color: var(--bg-col);
}
.fab-twitter:hover {
    background-color: #00B6F1;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fab-github:hover {
    color: #9840d9;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fab-linkedin:hover {
    background-color: #04669A;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fa_custom {
  color: var(--hover-colour);
}


/* Other icons */

.favicon {
    margin-right: 1vw;
    border-radius: 28px;
}
.heart {
  margin-top: -25px;
  margin-right: -25px;
}
.profile-icon {
    margin-left: 2vw;
    margin-top: 1vh;
}
.icon-st:hover {
    background-color: #f321b7;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.icon-st img {
    height: 2vw;
    max-width: 100%;    
}

.nav-tabs .nav-link.active {
    background-color: var(--text-orange);
    color: var(--dark-blue);
    font-size: 1.5vmax;
}

/* Alternate text colour in sidebar info tab */
#info > *:nth-child(odd) {
    color: var(--text-orange);
}

input, select {
    background-color: var(--pale-blue);
    color: var(--dark-blue);    
}


/* Pagination controls */

.pag-btn {
    background-color: var(--text-orange);
    color: var(--bg-very-dark);
}

.pag-info {
    padding-left: 0.5vw;
    padding-top: 0.6vh;
    background-color: var(--text-yellow);
    color: var(--bg-very-dark);
    border-radius: 28px;
}

 /* used to hide product definition from unauthenticated users,
    but make available for Snipcart back-crawler */
.hidden {   
    display: none;
}

