{% extends 'users/base.html' %}
{% load static %}

{% block content %}

    <div class="content-section">

        <h1>Teraspora Fractals - Fractal Image {{ img.id }}</h1>
        
        <div class="row">

          <div class="card" style="width: 80vw;">
            <img class="card-img-top img-fluid" src="{% static STATIC_IMAGE_DIR %}{{ img.name }}" alt="fractal image">
            <div class="card-body">
              <p class="card-text"><p>Image&nbsp; {{ img.id }}</p></p>
            </div>
          </div>     

        </div>
        
    </div>

{% endblock content %}
