{% extends 'users/base.html' %}
{% load static %}

{% block content %}

    <div class="content-section">

        <h1 class="text-center">Fractal Image {{ object.id }}</h1>
        
        <div class="row">

          <div class="card" style="width: 80vw;">
            <img class="card-img-top img-fluid fractal" src="{% static STATIC_LARGE_IMAGE_DIR %}{{ object.name_large }}" alt="fractal image">
            <div class="card-body">
              <p class="card-text">
                {% if user.is_authenticated %}
                    <button
                        class="btn btn-primary snipcart-add-item text-center"
                        data-item-id="{{ object.id }}"
                        data-item-name="fractal-print-{{ object.id }}"
                        data-item-url="https://ztrif.herokuapp.com/image/{{ object.id }}/"
                        data-item-price="45.00"
                        data-item-description="Fractal Print {{ object.id }}">
                            <span class="label label-primary">Buy! A5 only €45</span>
                    </button> 
                    <details>
                        <p>Function: {{ object.params.func }}</p>
                        <p>Alt-function: {{ object.params.alt_func }}</p>
                        <p>Power: {{ object.params.power }}</p>
                        <p>Type: {{ object.params.full_flavour }}</p>
                    </details>
                    <a class="btn btn-warning btn-sm float-right heart" href="{% url 'add_like' img_id=object.id %}"><i class="fas fa-heart fa_custom"></i></a >
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary">Log in to buy...</a>
                {% endif %}
                    <span class="label label-primary float-right">Likes: <span class="badge">{{ object.num_likes }}</span></span>
                  
                </p>

                
              </p>
            </div>
          </div>     

        </div>
        
    </div>

{% endblock content %}
