{% extends 'users/base.html' %}
{% load static %}

{% block content %}

    <div class="content-section">

        <h1>Teraspora Fractals - Fractal Image {{ object.id }}</h1>
        
        <div class="row">

          <div class="card" style="width: 80vw;">
            <img class="card-img-top img-fluid" src="{% static STATIC_LARGE_IMAGE_DIR %}{{ object.name_large }}" alt="fractal image">
            <div class="card-body">
              <p class="card-text"><p>Image&nbsp; {{ object.id }} (func.&nbsp;{{ object.params.func }})</p></p>
            </div>
          </div>     

        </div>
        
    </div>

{% endblock content %}
