{% extends 'users/base.html' %}
{% load static %}

{% block content %}

    <div class="content-section">

        <h1>Teraspora Fractals Main Page</h1>
        
        <div class="row">
  
          {% for img in image_list %}
            <div class="col-md-4">
                <div class="thumbnail">
                   <a href="{% url 'image' pk=img.id %}">                
                   <img class="fractal" src="{% static STATIC_IMAGE_DIR %}{{ img.name }}" alt="fractal image" style="width:100%">
                   <div class="caption">
                     <p>Image {{ img.id }}</p>
                   </div>
                   </a>
                </div>
              </div>
          {% endfor %}

          <!-- {% if is_paginated %}
            Page {{ page_obj.number }} of {{ paginator.num_pages }}
          {% endif %} -->

          {% load my_tags %}

          {% if is_paginated %}
            {% if page_obj.has_previous %}
              <a href="?{% param_replace page=1 %}">First&emsp;</a>
              {% if page_obj.previous_page_number != 1 %}
                <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous&emsp;</a>
              {% endif %}
            {% endif %}

            Page&nbsp; {{ page_obj.number }}&nbsp; of&nbsp; {{ paginator.num_pages }}&emsp;

            {% if page_obj.has_next %}
              {% if page_obj.next_page_number != paginator.num_pages %}
                <a href="?{% param_replace page=page_obj.next_page_number %}">Next&emsp;</a>
              {% endif %}
              <a href="?{% param_replace page=paginator.num_pages %}">Last&emsp;</a>
            {% endif %}

            <p>Images {{ page_obj.start_index }}&nbsp;-&nbsp;{{ page_obj.end_index }}</p>
          {% endif %}

        </div>
        
    </div>

{% endblock content %}
