{% extends 'users/base.html' %}
{% load static %}

{% block content %}

    <div class="content-section">

        <h1>Teraspora Fractals</h1>
        
        <div class="row">
  
          {% for img in image_list %}
            <div class="col-md-4">
                <div class="thumbnail">
                   <a href="{% url 'image' pk=img.id %}">                
                   <img class="fractal" src="{% static STATIC_SMALL_IMAGE_DIR %}{{ img.name }}" alt="fractal image" style="width:100%">
                   <div class="caption">
                     <span>Image {{ img.id }}</span>

                     {% if user.is_authenticated %}
                      <a class="btn btn-primary btn-sm float-right" href="#">Like</a >
                     {% endif %}

                   </div>
                   </a>
                </div>
              </div>
          {% endfor %}

            {% load my_tags %}

          {% if is_paginated %}
            {% if page_obj.has_previous %}
              <a class="btn btn-info ml-4 mr-4" class="btn btn-outline-info mb-4" href="?{% param_replace page=1 %}">First</a>
              {% if page_obj.previous_page_number != 1 %}
                <a class="btn btn-info mr-4" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
              {% endif %}
            {% endif %}


            {% if page_obj.has_next %}
              {% if page_obj.next_page_number != paginator.num_pages %}
                <a class="btn btn-info mr-4" class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
              {% endif %}
              <a class="btn btn-info mr-4" class="btn btn-outline-info mb-4" href="?{% param_replace page=paginator.num_pages %}">Last</a>
            {% endif %}
            
            <div class="border">
              Page&nbsp; {{ page_obj.number }} of {{ paginator.num_pages }}
            </div>
          {% endif %}

        </div>
        
    </div>

{% endblock content %}
